@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #F6EBDD;
  color: #000000;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}