# apps/frontend/.env
VITE_API_URL=http://localhost:3001/ # URL base para las peticiones a la API
VITE_PORT=4000
VITE_PUSHER_KEY=TU_CLAVE_PUBLICA_AQUI # Clave pública de Pusher (debe coincidir con la del backend)
VITE_PUSHER_CLUSTER=TU_REGION_AQUI # Región del clúster de Pusher

# apps/backend/.env
PORT=3001
DATABASE_URL=TU_URL_POOL_AQUI # URL de conexión pooled (pgbouncer=true) para Prisma
DIRECT_URL=TU_URL_DIRECTA_AQUI # URL de conexión directa para ejecutar migraciones
SUPABASE_URL=TU_SUPABASE_URL_AQUI # URL pública del proyecto en Supabase
SUPABASE_PUBLISHABLE_KEY=TU_CLAVE_PUBLICA_AQUI # Clave pública (anon key) de Supabase
SUPABASE_SECRET_KEY=TU_CLAVE_SECRETA_AQUI # Clave secreta (service role key) de Supabase (confidencial)
WEB_URL=http://localhost:4000/ # URL del frontend para permitir CORS
PUSHER_APP_ID=TU_APP_ID_AQUI # ID de la aplicación en el panel de Pusher Channels
PUSHER_KEY=TU_CLAVE_PUBLICA_AQUI # Clave pública de Pusher para la conexión de WebSockets
PUSHER_SECRET=TU_CLAVE_SECRETA_AQUI # Clave secreta de Pusher (estrictamente confidencial)
PUSHER_CLUSTER=TU_REGION_AQUI # Región del clúster asignado en Pusher (ej. us2, sa1)
JWT_SECRET=TU_JWT_SECRET_AQUI # Clave secreta para la firma de tokens JWT
EMAIL_USER=TU_CORREO_GMAIL_AQUI # Correo de Gmail para envíos de notificaciones y recuperación
EMAIL_PASS=TU_CONTRASENA_DE_APLICACION_AQUI # Contraseña de aplicación de Gmail para envío de correos

